[submodule "calculator"]
	path = calculator
	url = https://github.com/hqmx/calculator.git
[submodule "generator"]
	path = generator
	url = https://github.com/hqmx/generator.git
[submodule "saesal"]
	path = saesal
	url = https://github.com/hqmx/saesal.git
[submodule "hannah-design"]
	path = hannah-design
	url = https://github.com/hqmx/hannah-design.git
[submodule "converter"]
        path = converter
        url = https://github.com/hqmx/converter.git
[submodule "downloader"]
        path = downloader
        url = https://github.com/hqmx/downloader.git
[submodule "main"]
        path = main
        url = https://github.com/hqmx/main.git
[submodule "soluna"]
        path = soluna
        url = https://github.com/hqmx/soluna.git
