server {
    listen 80;
    server_name hqmx.net www.hqmx.net;
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    server_name hqmx.net www.hqmx.net;

    # SSL Configuration
    ssl_certificate /etc/letsencrypt/live/hqmx.net/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/hqmx.net/privkey.pem;
    include /etc/letsencrypt/options-ssl-nginx.conf;
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;

    charset utf-8;

    # This root is the default for requests not caught by specific locations
    root /home/ubuntu/hqmx/services/main/current;
    index index.html;

    # Main Page (root)
    location / {
        try_files $uri $uri/index.html =404; # Serve index.html from main, or 404
    }

    # Main service assets
    location ^~ /main/ {
        root /home/ubuntu/hqmx/services/main/current;
        index index.html;
        rewrite ^/main/(.*)$ /$1 break;
        try_files $uri $uri/index.html =404;
    }

    # Converter service
    location ^~ /converter/ {
        root /home/ubuntu/hqmx/services/converter/current;
        index index.html;
        rewrite ^/converter/(.*)$ /$1 break;
        default_type text/html; # Added to force serving as HTML
        try_files $uri $uri/index.html =404;
    }

    # Downloader service
    location ^~ /downloader/ {
        root /home/ubuntu/hqmx/services/downloader/current;
        index index.html;
        rewrite ^/downloader/(.*)$ /$1 break;
        try_files $uri $uri/index.html =404;
    }

    # Generator service
    location ^~ /generator/ {
        root /home/ubuntu/hqmx/services/generator/current;
        index index.html;
        rewrite ^/generator/(.*)$ /$1 break;
        try_files $uri $uri/index.html =404;
    }

    # Calculator service
    location ^~ /calculator/ {
        root /home/ubuntu/hqmx/services/calculator/current;
        index index.html;
        rewrite ^/calculator/(.*)$ /$1 break;
        try_files $uri $uri/index.html =404;
    }







    # API Proxy (Converter)
    location /api/converter/ {
        proxy_pass http://localhost:3001/api/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }

    # API Proxy (Downloader)
    location /api/downloader/ {
        proxy_pass http://localhost:5000/api/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }

    # Common Assets Caching
    location ~* \.(js|css|png|jpg|jpeg|gif|ico|svg|woff|woff2|ttf|eot|json)$ {
        expires 1y;
        add_header Cache-Control "public, immutable";
    }
}
